
:root{
    --baseline-animation: 2s;
    
    --clr-light: #f0f0f0;
    --clr-dark: #121212;
    --clr-primary: #767676;
    --clr-secondary: #31363F;
    --clr-accent: #ff7750;

    --background: var(--clr-light);
    --foreground: var(--clr-dark);


}

.darkmode{
    --clr-light: #f0f0f0;
    --clr-dark: #121212;
    --clr-primary: #767676;
    --clr-secondary: #31363F;
    --clr-accent: #ff7750;

    --background: var(--clr-dark);
    --foreground: var(--clr-light);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadein{
    animation: fadeIn ease var(--baseline-animation);
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

.regular-font{
    font-family: "Roboto", sans-serif;
}

.monospace-font{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}


body{
    background-color: var(--background);
    color:var(--foreground);
    margin-right: 2vw;
    margin-left: 2vw;
    /* min-height: 100vh; */
}

h2{
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    font-weight: 500;
}

header {
    margin-top:2vw;
    margin-bottom:1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:2em;
}

nav a{
    all: unset;
    cursor: pointer;
    font-size: 1.5em;
}
nav a:hover{
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
    transition-duration: 400ms;
}

main {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    user-select: none; 
}



#intro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 4em;
    margin-top: 1vh;
    
}
#intro-left{
    display: flex;
    flex-direction: column;
    justify-content:center ; 
}
#intro-right{
    display: flex;
    justify-content: center;
}
#intro-highlight{
    font-weight: 300;
    animation: fadeIn ease var(--baseline-animation);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}


#intro-description{
    font-size:0.35em;
    color: var(--clr-secondary);
    width: 70%;
    animation: fadeIn ease calc(var(--baseline-animation) + 2s);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

#intro-dp{
    height: 3.5em;
    width: 3.5em;
    border-radius: 120px;
    animation: fadeIn ease calc(var(--baseline-animation) + 1s);
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}

#main-content{
    margin-top: 5vh;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

#sidebar{
    display:flex;
    flex-direction:column;
    margin-top:1vh;
    gap:10px;
    min-height: 100vh;
}

#aboutme{
    display: flex;
    flex-direction:column;

}

#projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img{
    max-width: 100%;
}

@media (max-width: 800px) {
    header{
        flex-direction: column;
    }
    nav{
        flex-direction: column;
        display: none;
    }
    #intro{
        flex-direction: column-reverse;
    }
    #main-content{
        flex-direction: column;
    }
}

